// See: https://www.robertcooper.me/using-eslint-and-prettier-in-a-typescript-project
{
	"parser": "@typescript-eslint/parser",
	"extends": [
		// Uses the recommended rules from @eslint-plugin-react
		"plugin:react/recommended",
		// Uses the recommended rules from the @typescript-eslint/eslint-plugin
		"plugin:@typescript-eslint/recommended",
		// Uses eslint-config-prettier to disable ESLint rules from @typescript-eslint/eslint-plugin that would conflict with prettier
		"prettier/@typescript-eslint",
		// Enables eslint-plugin-prettier and displays prettier errors as ESLint errors. Make sure this is always the last configuration in the extends array.
		"plugin:prettier/recommended"
	],
	"parserOptions": {
		"ecmaVersion": 2018,
		"sourceType": "module"
	},
	"rules": {
		"@typescript-eslint/no-empty-interface": [
			"error",
			{
				"allowSingleExtends": true
			}
		],
		"@typescript-eslint/camelcase": [
			"error",
			{
				"properties": "never",
				"ignoreDestructuring": true
			}
		],
		"@typescript-eslint/explicit-function-return-type": "off",
		"react/prop-types": [
			"error",
			{
				"skipUndeclared": true
			}
		]
	},
	"settings": {
		"react": {
			"version": "detect"
		}
	}
}
